*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	background-color: #333;
	color: ghostwhite;
	font-family: "Poiret One", "Segoe UI", Tahoma, Geneva, sans-serif;
	padding: 5rem 15rem;
}

h1,
h2,
h3 {
	display: inline-block;
	font-family: "Press Start 2P";
	padding: 1.5rem 2rem;
	text-transform: uppercase;
}

.banner {
	text-align: center;
}

.header {
	font-size: 4rem;

	position: relative;
}

.header-span {
	display: inline-block;
	font-size: 4.5rem;

	position: absolute;
	right: -5rem;
	top: 0.2rem;
}

.scoreBoard {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 2rem 0;
}

.gameBoard {
	background-color: #c7c7c7;
	border-radius: 1.2rem;
	color: #333;
	padding: 2rem 1.5rem;
	margin: 3.5rem 0;
}

.display {
	border: 0.5rem solid #333;
	border-radius: 0.7rem;
	color: black;
	font-size: 5rem;
	font-weight: bolder;
	height: 10rem;
	margin: 0.9rem auto;
	padding: 1rem 0;
	text-align: center;
	width: 12rem;
}

.info {
	margin: 1.5rem 0;
}

.userInput {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.rules {
	font-size: 1.6rem;
	list-style-type: decimal;
	padding: 1rem 2.5rem;
}

.rule {
	padding: 0.4rem 1rem;
}
